#loginForm {
    padding: 3em 2em 2em 2em;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.login-content-div {
    width: 100%;
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
}

.login-content {
    background: #3E8ACC;
}

.login-note {
    display: block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: black;
}

.login-note-points {
    font-size: 1em;
    font-weight: 500;
    margin-left: 100px;
}

