.wrap {
    position: relative;
    margin: 0 auto;
}

.home-div {
    margin: 0 auto;
    /*padding: 50px 20px;*/
}
footer {
    text-align: center;
}

legend{
    width: 30% !important;
}

.instructions {
    text-align: center;
    clear: both;
    margin: 60px auto 0;
    font-size: 1.2em;
}

.nav-header-logo {
    padding: 19px 20px 20px 2px !important;
    margin-left: 0;
}

.cg-notify-message {
    z-index: 999999 !important;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}

.changePasswordForm {
    width: 40%;
    height: 58%;
}
