<md-dialog aria-label="Change Password" class="changePasswordForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" md-autofocus>
                    <md-tooltip>Close</md-tooltip>
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="setPasswordForm" autocomplete="off" ng-submit="changePassword()">
                    <div layout-gt-md="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Current Password</label>
                            <input type="password" name="currentPassword" ng-model="changePasswordObject.currentPassword" required>
                            <div ng-messages="setPasswordForm.currentPassword.$error">
                                <div ng-message="required" class="my-message">This field is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-md="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>New Password</label>
                            <input type="password" name="newPassword" ng-model="changePasswordObject.newPassword" required >
                            <div ng-messages="setPasswordForm.newPassword.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-md="row">
                        <md-input-container  class="md-block" flex-gt-xs="">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmPassword" ng-model="changePasswordObject.confirmPassword" required ng-pattern="changePasswordObject.newPassword" >
                            <div ng-messages="setPasswordForm.confirmPassword.$error">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="pattern">Confirm Password and New Password should be same!</div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-cornered" ng-click="cancel()">
                <md-tooltip>Cancel</md-tooltip>
                <md-icon>close</md-icon>
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary md-cornered" ng-disabled="!setPasswordForm.$valid"  ng-click="changePassword()">
                <md-tooltip>Change Password</md-tooltip>
                <md-icon>check</md-icon>
                Change Password
            </md-button>
        </md-dialog-actions>
</md-dialog>

